<div class="container flex flex-col items-center mt-8">
<h1 class="text-center mb-6"><%= t(".title") %></h1>

<%= form_with(url: password_path, method: :patch, class: "flex flex-col gap-4 w-full max-w-sm") do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <%= form.password_field :password_challenge,
          required: true,
          autofocus: true,
          label: false,
          autocomplete: "current-password",
          placeholder: t(".current_password") %>

  <%= form.password_field :password,
        required: true,
        autofocus: true,
        label: false,
        autocomplete: "new-password",
        placeholder: t(".new_password") %>

  <%= form.password_field :password,
        required: true,
        autofocus: true,
        label: false,
        autocomplete: "new-password",
        placeholder: t(".new_password_confirmation") %>

  <div class="text-center">
    <%= form.submit t(".update_password"), class: "btn btn-primary" %>
    <%= link_to t("cancel"), user_dashboard_path, class: "btn btn-primary btn-outline" %>
  </div>
<% end %>
</div>
